@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');
*
{
  border: 0;
  padding: 0;
  margin: 0;
}

.wrapper
{
  background-color: #0423F6;
}

.navBar
{
  background-color: transparent;
  width: 100%;
}
.bttn_list
{
  
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  padding-top: 10px;
}
.nav_bttn
{
  color: white;
  font-size: large;
  padding-right: 10%;
}


.title
{
  font-family: 'Pacifico', cursive;
  color:white;
  float: left;
  padding-left: 50px;
}

.def_wrapper
{
  background: #0423F6;
  padding-bottom: 100px;
}

.def_contain
{
  width: 100%;
  align-items: center;
  display:flex;
  flex-direction: column;
  padding-top: 120px;
}
.name_div
{
  width: 50%;
}
.name
{
  font-size:100px;
  color: white;
}
.noun
{
  font-size: 20px;
  color: white;
  text-align: left;
  width: 50%;
  
}

.defn_div
{
  padding-top: 40px;
  width: 50%;
  padding-bottom: 40px;
}

.definition{
  color: white;
  font-size: larger;
  text-align: center;
}

.resume_button
{
  background-color: #0019C5;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 50px;
  font-size: large;
  transition: ease-out 0.5s;
}

.resume_button:hover
{
  box-shadow: inset 400px 0 0 0 #0501B4;;
}

