.project_div
{
    padding-bottom: 50px;
}

.project_title
{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: white;
    font-size: 40px;
    border-bottom: solid 5px;
    width: fit-content;
}
.projects
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#0423F6;
    width: fit-content;
}

.pokedex_img
{
    padding-top: 25px;
}

.tic_tac
{
    padding-top: 25px;
}

.project_desc
{
    list-style-position: inside;
    list-style: none;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    text-align: left;
    padding: 20px;
}


.project
{
    background-color: white;
    width: 28%;
    text-align: center;
    padding-top: 20px;
}

.project_point
{
    padding-bottom: 30px;
    font-size: large;
}

.button_div
{
    display: flex;
    justify-content: center;
}


.buttons
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
    padding-bottom: 20px;
}

#website_bttn
{
    padding-left: 50px;
    padding-right: 50px;
}


